.Weather {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid #dadde1;
  border-radius: 4px;
  padding: 16px;
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.Weather h1 {
  font-size: 50px;
  font-weight: 100;
  color: #19456b;
  line-height: 55px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
  color: #19456b;
  list-style: none;
}
.Weather canvas {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}
.Weather .temperature {
  font-size: 64px;
  font-weight: 400;
  text-decoration: none solid rgb(32, 33, 36);
  color: #202124;
  line-height: 64px;
}
.Weather .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
  font-weight: 400;
  color: #202124;
  margin-left: 0px;
  line-height: 1;
}

.Weather .Weather-App {
  padding: 18px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}
.Weather .Overview {
  margin-bottom: 7px;
  padding-top: 0;
}
.Weather .img {
  margin-right: 6px;
  height: 64px;
  width: 64px;
}
.Weather .Temperature {
  font-size: 64px;
  font-weight: 400;
  text-decoration: none solid rgb(32, 33, 36);
  color: #202124;
  line-height: 1;
  height: auto;
  width: auto;
}
.Weather .Weather-Temperature .Units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.Weather .Weather-Temperature .Active {
  color: rgb(32, 33, 36);
  cursor: default;
}
.Weather .Weather-Temperature .Active:hover {
  text-decoration: none;
}

.Weather .Form-Control {
  width: 80%;
  position: relative;
  left: 24em;
}
.Weather .btn {
  color: #16c79a;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
